
@model HomeVm
@{
    ViewData["Title"] = "Note";  
}

<h1>Index</h1>

@*<ul>
    @foreach (var item in ViewBag.Students)
   {
       <li>@item.Id @item.Name @item.Surname</li>
   }    
</ul>*@

<ul>
    @foreach (var item in Model.Students)
   {
       <li>@item.Id @item.Name @item.Surname</li>
   }
</ul>

<ul>
    @foreach (var item in Model.Groups)
   {
       <li>@item.Id @item.Name</li>
   }
</ul>

